$color-blue:#282750;
$color-red:#FF3F59;
$color-orange:#ffb830;
$color-lightblue:#3db2ff;
$color-lightblue2:#56789255;
$color-white:#ffffff;

body{
    background-color:$color-lightblue2;

    .contact-img{
        width:200px;
        height:200px;
        
    }
}